# Android Studio / IntelliJ
*.iml
.idea/

# Gradle (cache) - NO confundir con 'gradle/' (wrapper)
.gradle/

# Ignorar todos los build de todos los módulos (app/build, etc.)
**/build/

# NDK / C++
.externalNativeBuild/
.cxx/

# Archivos locales
local.properties

# Logs
*.log

# Capturas
captures/

# SO
.DS_Store
Thumbs.db
